@import './reset.scss';
@import './_common.scss';

@import url('https://fonts.googleapis.com/css?family=Teko:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,400,700');

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: $font-teko;
}

.wrapper {
    padding-right: 30px;
    padding-left: 30px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message {
    font-size: 25px;
}