.app-content {
    display: flex;
    justify-content: center;
}

.app-content-wrap {
    display: flex;
    max-width: 1400px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.sources-list {
    flex-shrink: 1;
    max-width: 30%;
    width: 100%;
}

.news-list {
    max-width: 70%;
    width: 100%;
    margin-left: 30px;
}