@import '../_common.scss';

.news-item {
	display: flex;
	width: 100%;
	background-color: #f8f2f2;
	box-shadow: 0 3px 6px #818181;
	color: #000;
	font-family: $font-nunito;
	transition: 0.6s;

	&:hover {
		background-color: #e6dddd;
	}

	&:not(:last-child) {
		margin-bottom: 15px;
	}
}

.news-item_image-wrap {
	flex-grow: 0;
	flex-shrink: 0;
	width: 40%;
	min-height: 200px;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.post-info {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	width: 100%;
	height: 100%;
	padding: 10px;
	background-color: #00000086;
	transform: translateX(-100%);
	transition: 0.6s;
	color: #fff;
}

.news-item:hover .post-info {
	transform: translateX(0);
}

.post-info_row__thin {
	margin-right: 10px;
	font-weight: 200;
}

.news-item_text {
	padding: 20px;
}

.news-item_title {
	font-size: 20px;
	font-weight: 700;
}

.news-item_source-name {
	margin-top: 5px;
	font-size: 15px;
	font-weight: 200;
}

.news-item_description {
	margin-top: 15px;
	font-size: 15px;
}